body {
    background: rgb(48, 48, 48);
    font-family: 'Alice', serif;
    font-size: 2rem;
    color: rgb(145, 141, 64)
}

.calculator {
    width: 400px;
    margin: 10% auto;
    background: rgb(15, 15, 15);
    padding: 20px;
    border-radius: 10px;
    cursor: default;
    box-shadow: 10px 10px 20px 5px rgba(19, 19, 19, 0.692), inset 0 0 20px 5px rgba(0, 0, 0,0.6);
}

.input {
    background-color: rgba(68, 68, 68, 0.4);
    height: 75px;
    line-height: 75px;
    text-align: right;
    margin-bottom: 15px;
    padding-right: 15px;
    border: 2px solid rgb(179, 154, 17);
    box-shadow: inset 0 0 20px 5px rgba(0, 0, 0,0.6);
}

.operators div, .numbers div {
    display: inline-block;
    text-align: center;
    width: 80px;
    height: 44px;
    line-height: 44px;
    padding: 5px;
    margin: 5px 0 5px 0;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    border: 2px solid rgb(179, 154, 17);
    transition: background-color 0.2s, box-shadow 0.2s;
}

.operators div:hover, .numbers div:hover, .equals:hover {
    cursor: pointer;
    background-color: rgba(252, 255, 72, 0.767);
    box-shadow: inset 0 0 20px 5px rgba(245, 224, 109, 0.6);
}

.operators div:active, .numbers div:active, .equals:active {
    text-emphasis: bold;
}

.leftPanel {
    display: inline-block;
}

.equals {
    display: inline-block;
    height: 44px;
    width: 382px;
    line-height: 44px;
    padding: 5px;
    margin: 5px 0 5px 0;
    vertical-align: top;
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    border: 2px solid rgb(179, 154, 17);
    cursor: pointer;
    transition: background-color 0.2s, box-shadow 0.2s;
}